iframe {
    background-color: transparent;
    border: none;
}

#divContainer {
    margin-top:10px;
    margin-left:11px;
    margin-right:11px;
}

#divMyTreeContainer {
    /*
    min-width:500px;
    min-height: 500px;
    width:100%;
    max-width:100%;
*/
}
         
#divCashFlowItemData {  
    padding-left:10px;
    overflow:auto;
}
         
/*++++++++++++++++++++++++++++++++++++++++++++++++++*/
#divCashFlowItemInfo 
{
    margin-bottom: 10px;
    font-weight: bold;
}
            
.marginT {
    margin-top: 10px;
}
           
div.label
{
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}
           
div.predicate_block
{
    min-height: 20px;
    display: block;
    margin-top:5px;
}
           
div.predicate_menu_block
{
    min-height: 20px;
    display: block;
}

div.area_block
{
    min-height: 60px;
    display: block;
    margin-top:5px;
    vertical-align: middle;
}          

div.aligned_control
{
    vertical-align: middle;
    margin-right:0px;
}             

div.header {
	background: #e9e9e9; 
	border-top: solid #d4d0c8 1px; 
	border-left: solid #d4d0c8 1px; 
	border-bottom: solid #d4d0c8 1px; 
	border-right: solid #d4d0c8 1px;  
	padding: 1px;  
	top: 0px; 
	left: 0px; 
}

/*Класс определят отступ слева*/
.marginL 
{
     margin-left: 10px;
     margin-top: 15px;
}

.marginD 
{
     margin-left: 3px;
}

.footer {
    width:100%;
    position:absolute;
    bottom:5px;
    left:0;
    font-size: 7pt;
    margin-top: 7px;
}