iframe {
    background-color: transparent;
    border: none;
}

#divContainer {
    margin-left: 11px;
    margin-right: 11px;
}

#divMyTreeContainer {
    /*
    min-width:500px;
    min-height: 500px;
    width:100%;
    max-width:100%;
*/
}

#divCashFlowItemData {
    overflow: auto;
    padding-left: 10px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++*/

#divCashFlowItemInfo {
    font-weight: bold;
    margin-bottom: 10px;
}

.marginT { margin-top: 10px; }

div.label {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

div.predicate_block {
    display: block;
    margin-top: 5px;
    min-height: 20px;
}

div.predicate_menu_block {
    display: block;
    min-height: 20px;
}

div.area_block {
    display: block;
    margin-top: 5px;
    min-height: 60px;
    vertical-align: middle;
}

div.aligned_control {
    margin-right: 0px;
    vertical-align: middle;
}

div.header {
    background: #e9e9e9;
    border-bottom: solid #d4d0c8 1px;
    border-left: solid #d4d0c8 1px;
    border-right: solid #d4d0c8 1px;
    border-top: solid #d4d0c8 1px;
    left: 0px;
    padding: 1px;
    top: 0px;
}

/*Класс определят отступ слева*/

.marginL {
    margin-left: 10px;
    margin-top: 15px;
}

.marginD { margin-left: 3px; }

.footer {
    bottom: 5px;
    font-size: 7pt;
    left: 0;
    margin-top: 7px;
    position: absolute;
    width: 100%;
}

a:hover {
    cursor:pointer;
}