<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="likeSettings" type="Kesco.Lib.Web.Controls.V4.Handlers.LikeConfigurationSectionHandler, Controls.V4" />
  </configSections>
  <appSettings>
    <add key="AppName" value="Статьи движения денежных средств"/>
    <add key="Version_V4_JS" value="VN"/>
    <add key="owin:AppStartup" value="Kesco.Lib.Web.SignalR.Startup"/>
  </appSettings>
  <likeSettings>
    <like formName="CashFlowItemForm.aspx" likeId="CFI_Form_20191024"/>
    <like formName="Search.aspx" likeId="CFI_Search_20191024"/>
    <like formName="CashFlowTypeForm.aspx" likeId="CFI_TypeForm_20191024"/>
    <like formName="CashFlowTypeList.aspx" likeId="CFI_TypeSearch_20191024"/>
  </likeSettings>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
	<httpRuntime targetFramework="4.5.2"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="aspx" path="*.aspx" verb="*" type="Kesco.Lib.Web.Controls.V4.Handlers.PageHandler, Controls.V4" resourceType="Unspecified"/>
      <add name="DialogResult" verb="*" path="DialogResult.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.DialogResultHandler, Controls.V4" resourceType="Unspecified"/>
      <add name="SignalView" verb="*" path="SignalView.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.SignalRHubHandler, Controls.V4" resourceType="Unspecified"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Search.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>